-#  This file is app/views/courses/index.html.haml
%body{:style => "background-image: url('http://www.qsdigitalsolutions.com/wp-content/uploads/2015/07/student-subject-choices-stem-drift-bobbed.jpg'); background-size: 100% auto"}
  %h3{:style => "font-size: 200%"} All Courses
  %ul2
    - @course.each do |course|
      %tr
        %li2= link_to "#{course.title}", course_path(course)
