%body{:style => "background-image: url('http://www.theprospect.net/wp-content/uploads/2015/10/Studying.jpg'); background-size: 100% auto"}
    %b= link_to 'Courses', courses_path, class: "button2", style: "position: relative; top: 265px; left: 220px; padding: 50px 65px"
    %b= link_to 'Instructors', courses_path, class: "button2", style: "position: absolute; top: 280px; left: 380px"
